* {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  position: sticky;
  top: 0;
  transition: all 400ms;
}

.bottom {
  position: absolute;
  bottom: 10px;
  left: -1000px;
  visibility: hidden;
  opacity: 0;
}

.modal--open .loanns,
.modal--open .loan__box--buttons {
opacity: 0;
visibility: hidden;
transition: all 400ms;
}

.modal2--open .nav,
.modal2--open .overlay, 
.modal--open .homeimg {
opacity: 0 !important;
visibility: hidden !important;
transition: all 400ms !important;
}

.home {
  scroll-behavior: smooth;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 820px) {

  .bottom {
    position: sticky !important;
    bottom: 0px !important;
    left: 0px !important;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 100 !important;
  }

  .nav__link {
    visibility: hidden;
    opacity: 0;
    width: 1px;
    margin: 0px !important;
  }
  .nav__links {
    margin-left: 24px !important;
    padding: 0px !important;
  }
  .nav__linkContact {
    visibility: visible;
    opacity: 1;
    width: 100%;
    min-width: 81px;
    margin-right: 12px !important;
    margin-left: 24px !important;
  }
  .nav__icons {
    width: 100%;
    min-width: 120px;
  }
  .nav__logo {
    width: 100%;
    min-width: 300px;
    margin-right: 12px !important;
    margin-left: 12px !important;
  }
  .nav__logoA {
    width: 50%;
    max-width: 350px !important;
  }
  .nav__logo--AP {
    padding-left: -8px !important;
    margin-right: 24px !important;

  }
  .nav__icons2 {
    width: 60px;
  }
  .about__descdesc > p {
    text-align: center;
    padding: 12px;
  }
  .whyUs__skillbox--icon > .MuiSvgIcon-root {
    font-size: 48px !important;
  }
  .whyUs__skillbox--desc-title {
    font-size: 18px !important;
  }
  .whyUs__skillbox--desc-body {
    font-size: 12px !important;
  }
  .loan__box {
    height: 420px !important;
  }
  .loan__box--buttons {
    top: 2330px !important;
    width: 100% !important;
  }
  .footer__office {
    transform: scale(0.8) !important;
    padding: 0px !important;
    padding-right: 0px !important;
  }
  .x {
    margin-bottom: 15px !important;
    max-width: 150px;
  }
  .footer__motto {
    margin-left: 12px !important;
  }
  .modal2__half--button {
    right: -230px !important;
  }
  .contact__form {
    transform: scale(0.8) !important;
  }
  .modal2__half {
    padding: 40px 40px !important;
  }
  .modal2__title--about {
    text-align: center;
  }
  .modal2__desc {
    transform: scale(0.8) !important;
  }
  .modal3__half {
    padding: 40px 40px !important;
  }
  .modal3__title--about {
    text-align: center;
  }
  .modal3__desc {
    transform: scale(0.8) !important;
  }
  .modal3__half--button {
    right: -230px !important;
  }
  .modal__desc {
    font-size: 12px !important;
  }
  .modal__half {
    padding: 40px 40px !important;
  }
  .modal__half--button {
    right: -230px !important;
  }
}

/* Small phones */
@media (max-width: 480px) {

  .bottom {
    position: sticky !important;
    bottom: 0px !important;
    left: 0px !important;
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 100 !important;
  }

  .nav__logo--AP{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin: 0 auto !important;
  }
  .nav__links {
    position: absolute;
  }
  .nav__icons {
    position: absolute;
  }
  .nav__links, .nav__linkContact {
    visibility: 0;
    opacity: 0;
    padding: 0px !important;
    width: 0px !important;
  }
  .nav__linkButton > .MuiButton-root {
    visibility: 0;
    opacity: 0;
    padding: 0px !important;
    width: 0px !important;
    min-width: 1px !important;
  }
  .nav__icons {
    visibility: 0;
    opacity: 0;
    padding: 0px !important;
    width: 0px !important;
  }
  .whyUs__skills {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
  .whyUs__skillbox--icon > .MuiSvgIcon-root {
    font-size: 88px !important;
  }
  .whyUs__skillbox--desc-title {
    font-size: 18px !important;
  }
  .whyUs__skillbox--desc-body {
    font-size: 14px !important;
  }
  .help__Desc {
    text-align: center;
    padding: 12px;
  }
  .loansss {
    display: flex !important;
    flex-direction: column !important; 
  }
  .loan__box {
    width: 85% !important;
  }
  .loan__box--desc {
    text-align: center;
  }
  .modal {
    display: flex !important;
  }
  .footer {
    padding: 4px !important;
  }
  .footer__office {
    transform: scale(0.85) !important;
    padding: 0px !important;
    padding-right: 0px !important;
    margin-top: 24px !important;
  }
  .footer__office--title {
    font-size: 18px !important;
  }
  .x {
    margin-bottom: 15px !important;
    max-width: 150px;
  }
  .footer__motto {
    margin-left: 12px !important;
    font-size: 20px !important;
  }
  .footer__img {
    visibility: hidden !important;
    opacity: 0;
    position: absolute;
  }
  .modal {
    top: 3500px !important;
    display: flex !important;
    flex-direction: column !important;
    height: 1000px !important;
  }
  .modal__half {
    padding: 12px !important;
    position: relative !important;
    width: 93% !important;
  }
  .modal__contact {
    height: 110% !important;
  }
  .modal2 {
    display: flex !important;
    flex-direction: column !important;
    height: 520px !important;
  }
  .modal2__about {
    width: 0px !important;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    padding: 0 !important;
  }
  .modal2__half {
    position: relative !important;
    width: 93% !important;
  }
  .modal3 {
    display: flex !important;
    flex-direction: column !important;
    height: 520px !important;
  }
  .modal3__about {
    width: 0px !important;
    height: 0px;
    visibility: hidden;
    opacity: 0;
    padding: 0 !important;
  }
  .modal3__half {
    position: relative !important;
    width: 93% !important;
  }
  .contact__form {
    padding-right: 10px;
  }
  .modal__half--button {
    visibility: none;
    opacity: 0;
  }
}
